---
layout: layouts/main.njk
title: thomas-wolter.de - Rubik's Snake Fansite
---
<style>
</style>
<canvas id="canvas" style="width: 500px; height: 500px;"></canvas>
<script type="module" src="/js/player.js"></script>