extends rubik

block scripts
    script(src="js/app.js")

block content
    h2 DEUTSCHLAND
    each figure in page.metadata.figures_de
      include includes/figure_card
    
    h2 DÄNEMARK
    each figure in page.metadata.figures_dk
      include includes/figure_card    
    #3dviewer