extends layout

block content
  .index
    h1 Welcome to the RUBIK's SNAKE Fansite! 
    img(src='img/rubiks_snake_lettering.png')#site-logo
 
    p RUBIK's SNAKE is an ultimate toy - nobody wants to put it aside. Once started you can generate a tremendous amount of different figures and shapes.
    p If you don't know Rubik's Snake have a look at the official site from RUBIK's (sometimes also named as RUBIK's TWIST). 

    a(href="eu.rubiks.com/store/cubes/rubiks-snake") RUBIK's SNAKE

    p On our fansite you find a lot of figures and shapes which are sorted in several categories. We created a notation in order to describe the twists to get each figure or shape as individual. 
    p When you click or tap on each unique pictures you get the figure or shape in a new 3D-Viewer box in which you can rotate it in every angle.
    
    p We like to share the joy of RUBIK's SNAKE with fans and friends all over the world. If you like you can send us your new figures or shapes, either in our notation or as picture. 

    a(href="http://www.google.com/recaptcha/mailhide/d?k=01ErW5u-dwtxvEMGrqK9iCnw==&amp;c=J9ZD925BIae2wUrw_Dq3Jq6X2DeU9wrb2uEeltwPDps=",onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501ErW5u-dwtxvEMGrqK9iCnw\75\75\46c\75J9ZD925BIae2wUrw_Dq3Jq6X2DeU9wrb2uEeltwPDps\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title="Show email address") th...@wo...de
    
    p In addition you can use the integrated "Player". So you are able to test and see if the notation is correct.


    footer
      p Last change: April 6th 2015

