extends layout

block content
  h1 Welcome to the RUBIK's SNAKE Fansite! 
  img(src='img/rubiks_snake_lettering.png')#site-logo
 
  p RUBIK's SNAKE is an ultimate toy - nobody wants to put it aside. Once started you can generate a tremendous amount of different figures and shapes.
  p If you don't know Rubik's Snake have a look at the official site from RUBIK's (now named RUBIK's TWIST). 
  p href http://www.rubiks.com/products/3d_puzzles/rubiks_twist.php"

  p On our fansite you find a lot of figures and shapes which are sorted in several categories. We created a notation in order to describe the twists to get each figure or shape as individual. 
  p When you click or tap on each unique pictures you get the figure or shape in a new 3D-Viewer box in which you can rotate it in every angle.
    
  p We like to share the joy of RUBIK's SNAKE with fans and friends all over the world. 
    If you like you can send us your new figures or shapes, either in our notation or as picture. 
  p eMail-Adresse: mailto thomas@wolter24.de ?????
    
  p In addition you can use the integrated href Player". So you are able to test and see if the notation is correct. 
