extends layout

block content
  h1 Willkommen auf der RUBIK's SNAKE Fanseite!

  p hier ein Tabelle einfügen, links Bild, rechts Text 
  p "RUBIK's SNAKE" ist ein ultimatives Spielgerät das man nur schwer aus der Hand legen kann. Einmal angefangen ergeben sich schier unendlich viele Möglichkeiten.
  p Wer RUBIK's SNAKE noch nicht kennen sollte, kann dazu einen ersten Eindruck auf der offiziellen Seite von RUBIK's bekommen (neuerdings als RUBIK's TWIST bezeichnet). 
  p href http://www.rubiks.com/products/3d_puzzles/rubiks_twist.php"
  
  p Auf dieser Seite sind viele Figuren und Formen zu finden die in verschiedenen Kategorien sortiert sind. Für die einheitliche Beschreibung haben wir eine Notation entwickelt, anhand derer sich die notwendigen Drehungen aufschreiben lassen. 
  Klickt man auf das jeweilige Bild öffnet sich ein 3D-Viewer in dem die Figur beliebig gedreht und angezeigt werden kann.
    
  p Besonders schön ist es die Freude an der RUBIK's SNAKE mit vielen anderen weltweit zu teilen. 
    Wer möchte kann uns neue Figuren und Formen gerne zuschicken, am besten in unserer Notation oder als Bild.
  p eMail-Adresse: mailto thomas@wolter24.de ?????
    
  p Zudem lassen sich in dem integrierten href Player" die Drehungen und entstehenden Figuren und Formen selbst austesten.  
