extends rubik

block scripts
  script(src="js/player.js")

block content
  #3dviewer(style='width: 500px; float:left')
  #description(style='margin-left: 512px;margin-right:12px')
    h2 Player
    p Enter in the field below a valid notation and see result of the figure in the preview.

    h3 Enter here the notation:
    textarea#instructions(style='width: 100%;height: 75px')

    p Press the left mouse button down and move the mouse to turn the view of the figure.

  .clear

