extends rubik

block scripts
    script(src="js/app.js")

block content
  p Die Notation der verschiedenen Drehungen von RUBIK's SNAKE basiert auf ein paar wenigen Regeln.
  p Es wird eine Ausgangslage (Referenzlage) definiert. Dabei schaut man die Bausteine so an, dass man deren Dreiecksform sieht. Die dunklen Bausteine (violett) liegen unten (die längste Dreiecksseite liegt unten), die hellen (grün) oben (die längste Dreiecksseite liegt oben). Der links liegende Baustein ist ein dunkler Baustein, der rechts außen auf dem Kopf liegende Baustein ist ein heller Baustein.

  blockquote
    p Anmerkung: Natürlich lässt sich der Farbbezug auch umgekehrt definieren, dabei ergeben sich dann Figuren mit vertauschten Farben.

  p Jeder dunkle Baustein erhält eine Nummer von 1 bis 12, wobei von links nach rechts gezählt wird. Der linksaußen liegende dunkle Baustein erhält also die Nummer 1, der rechtsaußen liegende dunkle Baustein die Nummmer 12.

  p Jeder dunkle Baustein hat eine rechte und eine linke Drehfläche (Seite), die mit den hellen Bausteinen verbunden ist (außer Baustein 1, der nur rechts mit einem hellen Baustein verbunden ist).

  p Die dunklen Bausteine verbleiben immer in ihrer Ausgangslage, zu mindestens gedanklich. An der linken und rechten Drehfläche (Seite) werden die hellen Bausteine gedreht. Dabei ergeben sich an jeder Seite vier Drehungen bis die Ausgangslage wieder erreicht ist. Die Ausgangslage wird nicht gesondert notiert, die an jeder Seite drei anderen Positionen werden mit 1, 2 und 3 durchnummeriert.

  p Die möglichen Drehungen und ihre Notationen sind im folgenden aufgelistet. Die Beschreibung jeder Drehung setzt sich aus drei Anteilen zusammen:

  ol
    li Baustein-Nummer: 1 bis 12
    li linke oder rechte Baustein-Seite: L oder R
    li Position der Drehung: 1, 2 oder 3

  h2 Notation Demonstration
  each figure in page.metadata.figures_notation_guide
    include includes/figure_card
  
  .clear
  
  h2 Notation Beispiele
  each figure in page.metadata.figures_notation_samples
    include includes/figure_card

  #3dviewer
  
