extends rubik

block scripts
  script(src="js/player.js")

block content
  h2 Player
  p Geben Sie unten im Eingabefeld eine gültige Notation ein und lassen Sie sich das Ergebnis im Vorschaufenster anzeigen. 
  p Die Anzeige kann bei gedrückter Maustaste durch das Bewegen der Maus gedreht werden.
  #3dviewer
  p Eingabefeld für die Notation:
  textarea#instructions(style='width: 500px;height: 75px')
  .clear