extends layout

block content
  .index
    h1 AtomPuzzle
    img(src='img/xatompuz.gif')#site-logo
    // img(src='img/xatompuz.gif', width='128', height='94')#site-logo
    p The atompuzzle guarantees continuous fun by tinkering to find the different solutions. 
    p The problem seems very easy. You must "only" fit six parts of the atompuzzle in a hexagon. And it has to fill out the hexagon completely.
    p Altogether the atompuzzle has got seven parts, with five different shapes (two at a time have the same shape). One part can not used and has to be put aside. Thus there exists five categories of solutions. The task is to find as much solutions as possible for every category.

    p 
    p 
    p For this Eric created a game "Molicula" for the iPhone und iPad:
    img(src='img/molicula.png', width='512', height='384')#molicula
    p 
    a(href="https://itunes.apple.com/us/app/molicula/id693085736?mt=8&uo=4") Molicula on the App Store
    p 
    p 

