extends layout

block content
  .index
    h1 AtomPuzzle
    img(src='img/xatompuz.gif')#site-logo
    // img(src='img/xatompuz.gif', width='128', height='94')#site-logo
    p Das Atompuzzle garantiert bleibenden oder immer wiederkehrenden Spaß beim Tüfteln der verschiedenen Lösungsmöglichkeiten. 
    p Die Aufgabe scheint sehr einfach. Es müssen "nur" sechs Atompuzzle-Teile so in einem vorgegebenen Sechseck angeordnet werden, dass alle diese Teile genau hineinpassen.
    p Insgesamt hat das Atompuzzle sieben Teile, wobei es fünf verschiedene Formen gibt (jeweils zwei Formen existieren doppelt). Eine Form wird für die Lösung nicht benötigt und zur Seite gelegt. Somit ergeben sich grundsätzlich fünf Klassen von Lösungen. Nun gilt es für jede Klasse so viele unterschiedliche Lösungen zu finden wie möglich.

    p 
    p 
    p Eric hat dafür das Spiel "Molicula" für das iPhone und iPad erstellt:
    img(src='img/molicula.png', width='512', height='384')#molicula
    p 
    a(href="https://itunes.apple.com/us/app/molicula/id693085736?mt=8&uo=4") Molicula on the App Store
    p 
    p 

