extends layout

block content
  .index
    h1 Willkommen auf der
    img(src='img/rubiks_snake_lettering.png')#site-logo
    h1 Fanseite!

    p RUBIK's SNAKE ist ein ultimatives Spielgerät das man nur schwer aus der Hand legen kann. Einmal angefangen ergeben sich schier unendlich viele Möglichkeiten.
    p Wer RUBIK's SNAKE noch nicht kennen sollte, kann dazu einen ersten Eindruck auf der offiziellen Seite von RUBIK's bekommen (manchmal auch als RUBIK's TWIST bezeichnet).

    a(href="http://eu.rubiks.com/store/cubes/rubiks-snake") RUBIK's SNAKE

    p Auf unserer Fanseite sind viele Figuren und Formen zu finden, die in verschiedenen Kategorien sortiert sind. Für die einheitliche Beschreibung haben wir eine Notation entwickelt, anhand derer sich die notwendigen Drehungen aufschreiben lassen.
    p Klickt man auf das jeweilige Bild öffnet sich ein 3D-Viewer in dem die Figur beliebig gedreht werden kann.

    p Besonders schön ist es die Freude an der RUBIK's SNAKE mit vielen anderen weltweit zu teilen. Wer möchte kann uns neue Figuren und Formen gerne zuschicken, am besten in unserer Notation oder als Bild.

    a(href="http://www.google.com/recaptcha/mailhide/d?k=01ErW5u-dwtxvEMGrqK9iCnw==&amp;c=J9ZD925BIae2wUrw_Dq3Jq6X2DeU9wrb2uEeltwPDps=",onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501ErW5u-dwtxvEMGrqK9iCnw\75\75\46c\75J9ZD925BIae2wUrw_Dq3Jq6X2DeU9wrb2uEeltwPDps\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", title="Email anzeigen") th...@wo...de

    p Zudem lassen sich in dem integrierten "Player" die Drehungen und entstehenden Figuren und Formen selbst austesten.


    footer
      p Letzte Aktualisierung: 18. April 2015

