extends rubik

block scripts
    script(src="js/app.js")

block content
  p Alle Formen und Figuren auf dieser Seite sind von Victor Stok aus Driebergen, Niederlande.
  p Er hat "Rubik's Snake" zusätzlich mathematisch analysiert. Dabei sind interessante Erkenntnisse und eine unglaublich vielfältige Sammlung von Formen und Figuren herausgekommen.
  
  p Danke, Victor!

  p Die folgenden Formen sind in drei Hauptkategorien unterteilt:
  ol
    li 2D-Formen ("in einer Ebene")
    li 3D-Formen ("räumlich")
    li Konvexe Formen

  p Die 2D-Formen sind sortiert nach der Anzahl von eingeschlossenen Quadraten (Kantenlänge=längste Dreieckseite), die entweder kein Loch oder bis maximal sechs innere quadratische Löcher enthalten. Victor ist der Meinung, dass er alle 2D-Formen ermittelt hat, bei welchen die "Rubik's Snake" in sich vollständig geschlossen ist.

  p Die 3D-Formen enthalten eine Reihe von außerordentlich schönen und symmetrischen Figuren.

  p Konvexe Formen sind durch folgende Eigenschaft gekennzeichnet: Von jedem Punkt der Form (im Inneren oder auf der Oberfläche) erreicht man jeden anderen beliebigen Punkt mit einer Verbindungstrecke, die ausschließlich im Inneren oder an der Oberfläche der Form verläuft. Victor ist wiederum der Meinung, dass er alle konvexe Formen ermittelt hat. Es gibt (nur!) genau drei solcher Formen - zwei in 2D und eine in 3D - und keine weitere! Victor's Behauptung und Aufgabe an alle Interessierten: Mehr als die angegebenen 2D- und konvexen Formen gibt es nicht! Sollte jemand doch etwas anderes herausfinden - bitte melden!

  p Victor benutzt für die Notation der 2D-Figuren eine Beschreibung der Drehungen für alle Prismen, siehe unten.


  h2 2D: sechs Quadrate, ohne Loch:
  img(src='img/vs_2D_06_wo.jpg')#vs_2D_06_wo.jpg

  h2 2D: sieben Quadrate, ein Loch:
  img(src='img/vs_2D_07_1H.jpg')#vs_2D_07_1H.jpg

  h2 2D: acht Quadrate, zwei Löcher:
  img(src='img/vs_2D_08_2H.jpg')#vs_2D_08_2H.jpg

  h2 2D: neun Quadrate, drei Löcher:
  img(src='img/vs_2D_09_3H.jpg')#vs_2D_09_3H.jpg

  h2 2D: zehn Quadrate, vier Löcher:
  img(src='img/vs_2D_10_4H.jpg')#vs_2D_10_4H.jpg

  h2 2D: elf Quadrate, fünf Löcher:
  img(src='img/vs_2D_11_5H.jpg')#vs_2D_11_5H.jpg

  h2 2D: zwölf Quadrate, sechs Löcher:
  img(src='img/vs_2D_12_6H.jpg')#vs_2D_12_6H.jpg

  h2 2D: weitere Formen und Figuren
  img(src='img/vs_2D_lg.jpg')#vs_2D_lg.jpg

  h2 3D: Teil 1
  img(src='img/vs_3D_01.jpg')#vs_3D_01.jpg

  h2 3D: Teil 2
  img(src='img/vs_3D_02.jpg')#vs_3D_02.jpg

  h2 3D: Teil 3
  img(src='img/vs_3D_03.jpg')#vs_3D_03.jpg

  h2 2D und 3D Konvexe Formen:
  img(src='img/vs_Convex.jpg')#vs_Convex.jpg

  h2 Beschreibung von 2D-Formen von Victor:

  p Bei 2D-Formen ist jedes der 23 Prismas entweder gerade oder um 90° gedreht.
  p Als Beschreibung der Lage eines Prismas bietet sich dafür die 0 und die 2 an. Die 0 steht für gerade und die 2 für ein um 90° gedrehtes Prisma.
  p Die folgende Figur
  img(src='img/Victor_2D.jpg')#Victor_2D.jpg
  p kann somit wie folgt notiert werden: 00200022000200022000200

  p In diesem Fall werden also die Drehungen und nicht die Prismen selbst beschrieben. Dadurch kommen die 23 Ziffern zustande.
  p Für eine bessere Lesbarkeit werden Gruppen von je fünf Drehungen getrennt durch ein Leerzeichen gebildet, also für die obige Figur: 00200 02200 02000 22000 200

  p Theoretisch existieren 8388608 2D-Figuren. Die Anzahl ergibt sich aus den 23 Prismen mit jeweils zwei möglichen Drehungen, also:
  p 2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2x2= 8388608

  p Wie lässt sich jetzt aber die exakte Anzahl von möglichen Figuren errechnen? Denn es gibt auch praktisch unmögliche Drehungen zueinander, z. B. kann keine Figur mit 222 anfangen.

  p Bemerkung: Die Ziffern 0 und 2 sind so gewählt, dass auch für die 3D-Figuren eine Beschreibung möglich ist. Dann kommen noch die beiden anderen Stellungen mit 1 und 1' hinzu. Diese beschreiben dann die beiden anderen Stellungen von 45° bzw. -45° in Uhrzeiger- bzw. Gegenuhrzeigerrichtung.

  p Anmerkung von Thomas: Ich verwende die Ziffern (0) 1, 2 und 3 mit den Winkeln (0°) 90°, 180° und 270°, da eine vollständige Drehung eines Prismas insgesamt 360° beträgt.

