extends rubik

block scripts
    script(src="js/app.js")

block content
  p The notation of turning of the Rubik's SNAKE is based on a few rules
  p At first we defined a base position (reference position). For this bring all pieces (elements of the snake) in a line. Look from the side that you see the shapes of the triangles. The dark pieces are below, the bright pieces above. The piece on the left hand side is a dark one, the piece on the right hand side is a bright one (is upside down).

  blockquote
    p If you declare the colors in opposite way you get figures with reversed colors.

  p Each dark piece gets a number 1 to 12, from left to right. The dark piece on the left hand side is piece number 1, the dark piece on the right hand side is piece number 12.

  p Every dark piece is connected to a bright piece. Except piece number 1, it is only connected on it's right hand side to a bright one.

  p The dark pieces remain always on this base position at least in  one's thinking. The bright pieces can be turned on the left and right side of every dark piece. In this way it exists in four position until you get the base position again. The base position gets no number, the positions on each other side get the names: 1, 2, 3.

  p So every turn and the notation has three parts:

  ol
    li piece number: 1 to 12
    li left or right side: L or R
    li position of turning: 1, 2 or 3

  h2 Notation demonstration
  each figure in page.metadata.figures_notation_guide
    include includes/figure_card
  
  .clear
  
  h2 Notation Beispiele
  each figure in page.metadata.figures_notation_samples
    include includes/figure_card

  #3dviewer
  
