---
layout: layouts/base.njk
---
<div id="lightbox-background" onclick="">
    <div id="lightbox" onclick="">
        <canvas id="canvas" onclick="event.stopPropagation();"></canvas>
        <button class="lightbox-close-button" onclick="closeLightbox();">&times;</button>
    </div>
</div>
<script type="module" src="/js/player.js"></script>
<script type="module" src="/js/lightbox.js"></script>

<header>
    <div class="header-container">
        <div class="header-main">
            <a id="logo" href="/">
                <div class="logo-title">
                    <span class="purple">Rubik's</span>
                    <span class="green">Snake</span>
                </div>
                <div class="logo-slogan">Fansite by Thomas Wolter</div>
            </a>
            <nav class="nav-main">
                {%- for nav in navigation %}
                    <a href="{{ nav.href }}" {% if page.url == nav.href %} aria-current="page"{% endif %}>{{ nav.text }}</a>
                {% endfor -%}
            </nav>
            <a role="button" href="/snake/playground/" class="button">Playground</a>
        </div>
    </div>
</header>

<main>
    {{ content | safe }}
</main>

<footer>
    &copy; 2023 Thomas Wolter
    {# <nav class="nav-language">
        <a href="#" lang="en">English (English)</a>
        <a href="#" lang="en">Deutsch (German)</a>
    </nav> #}</footer>