- var cur_lang = function() {
-  return page.filename.indexOf('_en.') !== -1 ? 'en' : 'de';
- }
- var get_language_specific_page_name = function(neutral) {
-   var lang = cur_lang();
-   if(lang === 'en') {
-     return neutral + '_en.html';
-   } else {
-     return neutral + '_de.html';
-   }
- }
- var get_home = function() {
-   var lang = cur_lang();
-   if(lang === 'en') {
-     return 'index_en.html';
-   } else {
-     return '/';
-   }
- }
- var switch_page_name_language = function() {
-   var lang = cur_lang();
-   if(lang === 'en') {
-     if(page.filename === 'index_en.html') {
-       return 'index.html';
-     } else {
-       return page.filename.replace('_en.', '_de.');
-     }
-   } else if (lang === 'de') {
-     if(page.filename === 'index.html') {
-       return 'index_en.html';
-     } else {
-       return page.filename.replace('_de.', '_en.');
-     }
-   }
- }
- var lookup_text = function(id) {
-  return locals.texts[cur_lang()][id.toString()]
- }
- var get_link_selected_status = function(indicator) {
-  return page.filename.indexOf(indicator) !== -1 ? 'selected' : ''
- }
