html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #faf5e6;
}

.clear {
  clear: both;
}

#header-wrap {
  background-color: #93cebd;
  height: 60px;
}

#site-header, #sub-nav, #content {
  max-width: 1140px;
  margin: 0 auto;
}

#content {
  margin-top: 12px;
}

#site-link {
  text-decoration: none;
}

#site-logo {
  margin: 0 12px;
  height: 60px;
  line-height: 60px;
  display: inline;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  text-shadow: 0 1px 0 #4f8173;
}

#main-nav {
  float: right;
  height: 60px;
  line-height: 60px;
}

.main-nav-item {
  display: inline-block;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 200;
  font-size: 22px;
  color: #fff;
  text-shadow: 0 1px 0 #4f8173;
  height: 60px;
  text-transform: uppercase;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.main-nav-item.selected {
  background-image: url(../img/indicator.svg);
  background-size: 14px 7px;
  background-repeat: no-repeat;
  background-position:center bottom;
}

.main-nav-item:hover {
  color: #4a4645;
  text-shadow: 0 1px 0 #a3e5d3;
}

#flag {
  margin-bottom: 10px;
  width: 20px;
  height: 15px;
}

#sub-nav-wrap {
  background-color: #4f8173;
  height: 48px;
}

#sub-nav {
  max-width: 1140px;
  margin: 0 auto;
  line-height: 48px;
  color: #fff;
}

.sub-nav-item {
  display: inline-block;
  margin: 0 12px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  text-transform: lowercase;
}

.sub-nav-item.selected {
  font-weight: 600;
}

.sub-nav-item:hover {
  font-weight:400;
}

figure {
  float: left;
  background: #ebe6d8;
  margin: 12px;
  width: 356px;
  height: 178px;
}

.figure-thumb {
  float: left;
  width: 178px;
  height: 178px;
}

figcaption {
  padding: 6px;
  display: inline-block;
  width: 166px;
  height: 166px;
  background: #93cebd;
}

.figure-title {
  margin: 0;
  color: #4a4645;
  font-size: 20px;
  font-weight: 400;
  text-shadow: 0 1px 0 #fff;
}

.figure-notation {
  margin: 6px 2px;
  color: #fff;
  text-shadow: 0 1px 0 #4f8173;
  font-size: 16px;
}