---
layout: layouts/main.njk
---
<div class="text-block">
    <h1 class="welcome-header">
        Welcome to the 
        <img src="images/rubiks_snake_lettering.png" alt="Rubik's Snake"/> 
        Fanseite!
    </h1>

    <p>
    RUBIK's SNAKE is an ultimate toy - nobody wants to put it aside. 
    Once started you can generate a tremendous amount of different figures and shapes.
</p>

    <p>
    If you don't know Rubik's Snake (sometimes also named as Rubik's Twist) have a look at the 
    <a href="https://en.wikipedia.org/wiki/Rubik%27s_Snake">Wikipedia page</a>.
  </p>

    <p>
    On our fansite you find a lot of figures and shapes which are sorted in several categories. 
    We created a notation in order to describe the twists to get each figure or shape as individual.
</p>

    <p>
    When you click or tap on each unique pictures you get the figure or shape in a new 3D-Viewer box in which you can rotate it in every angle.
</p>

    <p>
    We like to share the joy of RUBIK's SNAKE with fans and friends all over the world. If you like you can 
    <a href="https://mailhide.io/e/fI3B01LD" onclick="popup=window.open('https://mailhide.io/e/fI3B01LD','mailhidepopup','width=580,height=635'); return false;" title="Send us an email">send us your new figures or shapes</a>, either in our notation or as picture.
  </p>

    <p>
    In addition you can use the integrated <a href="/snake/playground">Playground</a>. So you are able to test and see if the notation is correct.
</p>
</div>