---
layout: layouts/main.njk
---
<div class="text-block">
    <h1 class="welcome-header">
        Welcome to the 
        <img src="images/rubiks_snake_lettering.png" alt="Rubik's Snake"/> 
        Fansite!
    </h1>

    <p>
    Rubik's Snake is an incredible toy that's hard to put down. With endless possibilities, you can create a wide range of fascinating figures and shapes that will captivate your imagination.
    </p>

    <p>
        If you haven't yet discovered the magic of Rubik's Snake (also known as Rubik's Twist), check out the <a href="https://en.wikipedia.org/wiki/Rubik%27s_Snake">Wikipedia page</a> to learn more.
    </p>

    <p>
        Our fansite features a vast collection of Rubik's Snake figures and shapes, organized into several categories to make browsing a breeze.
    We've developed a unique notation system to describe the twists needed to create each figure or shape.
    </p>

    <p>
       Click or tap on any picture to gain access to a dynamic 3D view of the corresponding figure or shape, enabling you to explore it in detail through seamless zooming and rotation.
    </p>

    <p>
        We're passionate about sharing the joy of Rubik's Snake with fans and friends all over the world. If you've created new figures or shapes, we'd love for you to <a href="https://mailhide.io/e/fI3B01LD" onclick="popup=window.open('https://mailhide.io/e/fI3B01LD','mailhidepopup','width=580,height=635'); return false;" title="Send us an email">send them to us</a> in our notation or as a picture.
    </p>

    <p>We've included a <a href="/snake/playground">Playground</a> where you can test and verify the correctness of your notation.</p>

</div>